accounts-service/.eslintrc.js
accounts-service/.eslintrc.js
accounts-service/nest-cli.json
accounts-service/.prettierrc
accounts-service/nest-cli.json
accounts-service/nest-cli.json
accounts-service/nest-cli.json
accounts-service/nest-cli.json
accounts-service/.prettierrc
/users-microservice
/transactions-service
/shared-models
/patterns-service
package-lock.json
/fingerprints-service
/docker
/auth-service
/api-gateway
/accounts-service
